# Exclude environment variables
.env
.idea
.vscode
__MACOSX/

**/.idea/
**/.vscode/

#Exclude log files except the .gitignore
/App/Storage/Logs/*
!/App/Storage/Logs/.gitkeep
/App/Storage/Visits/history.log
/App/Storage/Reports/*.txt
/App/Storage/Cache/**/*.cache


# Exclude all other packages, only if package is "Core" (Core, Users, Menus...)
!/App/Package
/App/Package/*

!/App/Package/Core
!/App/Package/Users
!/App/Package/Pages

# Exclude all other views, only if view refer to a core package (Core, Users, Menus...)
/Public/Themes/*
!/Public/Themes/Sampler


# Exclude all uploads folders and files except the Default profile image
!/Public/Uploads/Users/Default/defaultImage.jpg
!/Public/Uploads/Favicon/favicon.ico
!/Public/Uploads/.htaccess
/Public/Uploads/*
