/* Main css file for CMS Administration Panel */

.darkMode-navbar {
    background-color: #6B48FF !important;
}

/* Fix drag-menu text color */
.dark-mode .menu-drag {
    color: black !important;
}

/* Fix page menu input background */
.page-title, .page-slug-input {
    background-color: transparent !important;
}

.dark-mode .page-title {
    color: whitesmoke !important;
}


.cmw--errors {
    position: absolute;
    margin-top: 0;
    right: 20%;

    background: #ed5263;
    padding: .2rem 1rem;
    width: 60%;
    border-radius: 6px;

    word-wrap: break-word;
    z-index: 1000;
}

.cmw--errors h2 {
    color: #52040b;
}

.cmw--errors code{
    color: whitesmoke;
}

.cmw--errors--location {
    word-wrap: revert;
}

.cmw--errors--trace {
    margin: .2rem 0;
}
